﻿
<br />
<div ng-app="myGame">

    <div ng-controller="gameController">

        <div class="row">
            <div class="col-md-12">
                <h2>Rules</h2>
                <p>Dear player, You are provided with 100 hundred credits. Every bet is 10 credits.</p>
                <ul>
                    <li>If You hit 21 Your recive 30 credits</li>
                    <li>If You break game having exactly one card, You do not loos anything and game will be played to finish</li>
                    <li>However, if You break game after having two or more cards You loose half of the bet</li>
                    <li>You loose hole bet if You have more than 21 points</li>
                </ul>
                <p>Have a great play!</p>
            </div>
        </div>
        
        <hr />

        <div class="row">
            <div class="col-md-12" style="min-height: 110px">

                <!-- Visual side of cards-->
                <!-- jsut trying tpl -->
                <div id="tpl-content" ng-include src="currentTpl"></div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h2>{{money}} credits</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- UI controls-->
                <table>
                    <tr>
                        <td>
                            <button ng-click="start()" ng-hide="btnStart" class="btn btn-default">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{ btnSartText }}
                            </button>
                            <button ng-click="deal()" ng-hide="btnDeal" class="btn btn-default">
                                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> {{ btnDealText }}
                            </button>
                            <button ng-click="break()" ng-hide="btnBreak" class="btn btn-default">
                                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> {{ btnBreakText }}
                            </button>


                        </td>
                        <td style="padding-left: 1em">
                            <!-- Results -->
                            <span ng-repeat="p in currentPoints" style="font-weight: bold">
                                {{ p }} points
                            </span>
                        </td>
                        <td style="padding-left: 1em"></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>{{gameMessage}}</h3>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="/tpl.html">
        <span ng-repeat="c in selected">
            <img ng-src="/Content/Images/{{ c.suit }}{{ c.sign }}.png" alt="{{ c.sign }}{{ c.suit }}">
        </span>
    </script>
</div>
